<p id="notice"><%= notice %></p>

<p>
  <strong>Age:</strong>
  <%= @test_contact_detail.age %>
</p>

<%= link_to 'Edit', edit_test_contact_detail_path(@test_contact_detail) %> |
<%= link_to 'Back', test_contact_details_path %>
