<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @test_contact_basic.name %>
</p>

<%= link_to 'Edit', edit_test_contact_basic_path(@test_contact_basic) %> |
<%= link_to 'Back', test_contact_basics_path %>
